@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

:root {
	--background: #131415;
	--itemBackground: #252525;
	--main: #ffa400;
	--secondary: #fc2933;
	--contrast: #ffffff;
	--terciary: #4d4d4d;
	/* #FFA100 */
	/* #FB103D */
}

* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Roboto", sans-serif;
	background-color: var(--background);
	color: var(--contrast);
}


/* Header */


header {
	width: 100vw;
	height: 151px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px 0 30px;
}

.logoContainer{
	max-width: 76px;
}

.logoContainer img{
	height: auto;
	width: 100%;
}


/* Navbar*/

ul {
	display: none;
}


/* navbar para insertar con JS al hacer click en el menú hamburguesa */

/* ul {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

Acá se me ocurrió que sacar la parte de Home, o en todo caso agregar otras etiquetas p con carrito y perfil

ul li p {
	display: none;
} */


ul li {
	list-style: none;
}

ul li a{
	text-decoration: none;
}

nav div i{
	color: var(--main);
}

.homeContainer{
	display: flex;
	width: 75px;
	align-items: center;
	gap: 14.5px;
}

.homeContainer p{
	color: var(--contrast);
	font-weight: 300;
}

.homeContainer img{
	max-width: 20px;
}

.cartContainer{
	display: flex;
	flex-direction: column;
	width: 22px;
	align-items: center;
	gap: 1px;
}

.cartContainer img {
	max-width: 20px;
}

.wheelsContainer{
	display: flex;
	gap: 10px;
}

.wheelsContainer img{
	max-width: 3px;
}

.profileContainer{
	display: flex;
	width: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:2.5px;
}

.profileContainer img:first-child {
	max-width: 10.58px;
}

.profileContainer img:last-child{
	max-width: 16px;
}


/* Main */


main {
	max-width: 1600px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Item Container */
.appFiltered {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.filteredTitle {
	padding: 0px 40px;
	margin: 10px 0px;
	font-weight: 300;
}
.cardContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}
.itemContainer {
	height: 250px;
	width: 100%;
	max-width: 300px;
	padding: 20px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--itemBackground);
}
.itemContainer img {
	height: auto;
	width: 100%;
}
.itemDescription {
	width: 100%;
	height: 100%;
	padding: 10px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 300;
	gap: 5px;
}
.itemTitle {
	font-weight: 500;
}
.itemSubtitle {
	color: var(--terciary);
}
.itemBuy {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.price {
	font-size: 22px;
	font-weight: 500;
	background: linear-gradient(90deg, var(--main), var(--secondary));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.addToCart {
	width: 100px;
	padding: 8px;
	border-radius: 30px;
	border: none;
	font-weight: 700;
	color: var(--contrast);
	background: linear-gradient(90deg, var(--main), var(--secondary));
}
/* Fin Item Container */

/* carrito de compras Facu */
.cart-menu-grid-container {
	background-color: #252525;
	height: 690px;
	width: 450px;
	display: grid;
	grid-template-columns: 225px 225px;
	grid-template-rows: 40px 98px 432px 30px 30px 30px 30px;
	position: relative;
}

.cart-menu-grid-container > .cart-title {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: flex-end;
	justify-self: flex-start;
	padding-left: 12px;
	font-family: "Roboto", sans-serif;
}
.cart-menu-grid-container > .items-cart-container {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: center;
	padding-left: 15px;
	padding-top: 35px;
	width: 80%;
	display: flex;
	flex-direction: column;
	gap:25px;
}
.items-cart-container > .items-cart {
	box-shadow: 2px 2px 2px black;
	box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
	border-radius: 15px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 35px 35px 35px;
	align-items: center;
	/* filter: drop-shadow(2px 2px 2px black); */
}
.items-cart > .buttons-pedido-container{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-end: 2;
	grid-row-end: 3;
	justify-self: center;
}
.items-cart > .image-simulate {
	background-color: red;
	width: 55px;
	height: 55px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4;
	display: grid;
	justify-self: center;
	align-items: center;
}
.items-cart > .items-cart-title {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.items-cart > .items-cart-second-title {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	text-align: center;
	color: var(--terciary);
}
.items-cart > .items-cart-precio {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	text-align: center;
}
.cart-menu-grid-container > .container-precios {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}
.cart-menu-grid-container > .total-span {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 6;
}
.cart-menu-grid-container > .total-span-precio {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 6;
}
.cart-menu-grid-container > .button-buy {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 7;
	width: 20px;
}
.cart-menu-grid-container > .verMas-text {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 7;
	grid-row-end: 8;
}

.cart-menu-grid-container::after {
	content: "X";
	font-family: "Roboto", sans-serif;
	font-weight: 200;
	font-size: 12px;
	border-radius: 3px;
	/* text-align: center; */
	width: 27px;
	height: 23px;
	position: absolute;
	top: 4%;
	left: 3%;
	background-color: red;
	z-index: 2;
	background: linear-gradient(to right, #ffa100, #fb103d);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

@media screen and (min-width: 900px) {

	header {
		padding: 0 110px 0 75px;
	}

	ul {
		display: flex;
		gap: 70px;
	}

	.burguerContainer{
		display: none;
	}
}
